* {
    /* Just to get an idea of where the containers are */
  outline: 2px solid red;
}
:root {
    --color-primary: #D21F3C;
    --color-neutral-light: #F1F2F4;
    --color-neutral-dark: #1D1A20;
    --color-button-yellow: #FFD700;
}
@font-face {
    font-family: 'Saira';
    src: url('fonts/SairaCondensed-Bold.ttf');
    
}
body {
    font-family: 'Saira', sans-serif;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-image: url('images/IMG_2534.PNG');
    background-size: 125%;
    background-position: center;
    background-attachment: fixed;
}
.main-container {
    background-color: var(--color-primary);
    padding: 20px;
    border-radius: 8px;
    flex-direction: column;
    padding-left: 48px;
    padding-right: 48px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
}
.main-container div {
    margin-top: 20px;
}
.title-container {
    padding: 20px;
    background-color: #1D1A20b3;
    border-radius: 16px;
}
.line {
    background-color: var(--color-neutral-light);
    opacity: .7;
    height: 2px;
}
.select-container {
    display: flex;
    justify-content: center;
    margin: 5%;
    padding: 2%;
}
.select-container select {
    font-family: 'Saira', sans-serif;
    font-size: large;
    text-align: center;
    margin-right: 16px;
    padding: 2%;
    background-color: #1D1A20b3;
    border-radius: 5px;
    border: #1D1A20b3;
    color: var(--color-neutral-light)
}
.flex-container {
    display: flex;
    justify-content: center;
}
.input-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    padding-top: 0px;
}
.input-container input {
    font-family: 'Saira', sans-serif;
    font-size: large;
    text-align: center;
    margin-right: 16px;
    padding: 2%;
    background-color: #1D1A20b3;
    border-radius: 5px;
    border: none;
    color: var(--color-neutral-light);
    width: 50px;
    appearance: none;
    -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.stats label {
    margin-top: 10px;
    margin-right: 10px;
    min-width: 50px;
    text-align: right;
}
.stats {
    display: flex;
    font-size: large;
    text-align: center;
    padding: 5px;
    margin-right: 5px;
    
}
.checkBox-container {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
}
.checkBox-container input {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}
.button-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.submit-btn {
    font-family: 'Saira', sans-serif;
    font-size: large;
    text-align: center;
    padding: 10px 20px;
    background-color: var(--color-button-yellow);
    border-radius: 5px;
    border: none;
    color: var(--color-neutral-dark);
    cursor: pointer;
}
.dynamic-container {
    padding-top: 0px;
    color: var(--color-neutral-light);
}
#favorite-weapon {
    background-color: #1D1A20b3;
    border-radius: 5px;
}
.stats-container {
    background-color: var(--color-neutral-light);
}
.stats-grid-4col {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 10px;
}
.stats-grid-3col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 10px;
}
label {
    color: var(--color-neutral-light);
    font-size: 1.2em;
    margin-bottom: 10px;
}
h1 {
    color: var(--color-neutral-light);
    opacity: 1;
    text-align: center;
}
h2 {
    color: var(--color-neutral-light);
    text-align: center;
}
h3 {
    color: var(--color-neutral-light);
    text-align: center;
    background-color: #1D1A20b3;
    border-radius: 5px;
    padding: 8px;
}